.nav {
    background-color: cadetblue !important;
}


[data-role=footer]{top:10; position:absolute !important; top: auto !important; width:100%;} 

#main-page {
	background: url('../img/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
	-moz-background-size: cover;    /* Mozilla*/
	-o-background-size: cover;      /* Opera*/
	background-size: cover;         /* Generic*/ 
 }
